#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #613a8c;
}

.team-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.score-container {
  padding: 0 12px;
}

.score {
  font-size: 40px;
}

.logo {
  height: 120px;
  width: 120px;
}

.record {
  font-size: 14px;
  color: darkgray;
}